[2022-09-21 09:04] Sneakad opened #1 "Make the web app mobile-responsive"
Add mobile as well as tablet view responsiveness to the main app.
Make sure to follow the proper CSS naming conventions.

[2022-09-21 09:07] Sneakad opened #2 "Add pagination in My Files page"
Add pagination in the table view of the My Files page.

[2022-09-21 09:14] Sneakad opened #3 "Add a sorting feature"
Add a sorting feature to the My Files page.

For example:

- Sort by Upload date ( ascending or descending )
- Sort by File names ( alphabetically )
- Sort by File size ( smaller or larger )

[2022-09-21 09:18] Sneakad opened #4 "Add a filtering feature"
Add a filtering feature to the My Files page.

For example :
- Filter by File types ( .pdf/.png/.jpeg etc )
- Filter by File status ( public/private )

[2022-09-21 09:27] Sneakad opened #5 "Add a dynamic 3D globe"
Add a dynamic 3D globe in the hero section of the landing page instead of the static globe png. (_try to use three.js_)

**Reference repo link**: https://github.com/nenadV91/Threejs-globe

**Color**: #00ffa8

**Reference image**:

![globe](https://user-images.githubusercontent.com/72182438/191467919-10a7f007-4c4b-48ae-845c-d27ac3350e27.png)

[2022-09-22 14:17] rksingh2001 commented on #5
Can I take up this issue? @Sneakad

[2022-09-22 15:07] anomic30 commented on #5
Hi @rksingh2001 , I am assigning this issue to you.

[2022-09-23 10:32] rksingh2001 commented on #5
@anomic30 While trying to generate new key, infura.io is asking for a credit card? I don't have one what should I do?

[2022-09-23 12:20] anomic30 commented on #5
Hi, @rksingh2001
Join our [Discord](https://discord.gg/WPBFRDj5) server and DM me to get the keys.

[2022-09-23 12:54] anomic30 opened #6 "Refactoring API routes in the backend"
Currently, all the active API routes are in a single folder. It would be better to organize those routes and maintain a proper folder structure.

[2022-09-23 16:15] SattyamSamania commented on #1
Okay thank you

[2022-09-23 16:21] SattyamSamania commented on #1
Hey @Sneakad what should I do next if I can work on this issue. Can you help me out. If the issue is still open I can work on it.

[2022-09-23 17:45] anomic30 commented on #1
Hi @SattyamSamania, the issue is still open. Follow the contributing guidelines and start working on making the app mobile-responsive.
Prerequisites:

- ReactJs
- HTML/CSS

[2022-09-23 20:58] RahatAhmed171 commented on #3
Hi, its my first time for hacktoberfest. So, you want get the list of uploaded files in sorted manner, right? Is anyone already working on this issue?

[2022-09-24 10:19] anomic30 commented on #3
Hi @RahatAhmed171, no one is working on this right now, you can take this up. Please read the contributing guide before starting and don't forget to join our Discord. We will provide the UI shortly.

[2022-09-24 10:33] hxzqll commented on #4
Hi i'd like to take this issue

[2022-09-24 10:55] yashfalke77 commented on #1
Hey @Sneakad @anomic30 can i workon thisif the issue is open and no one is assigned

[2022-09-24 10:58] anomic30 commented on #4
Sure @hxzqll. Please wait for the UI.

[2022-09-24 11:00] hxzqll commented on #4
@anomic30 sure, let me know when it's available.

[2022-09-24 11:01] anomic30 commented on #1
Hi @yashfalke77. If you have the prerequisites, we will assign this to you. Also join our Discord server for more updates.

[2022-09-24 14:20] yashfalke77 commented on #1
hey @anomic30 ,Yes I have knowledge of React and HTML/CSS , If any info needed I will tag you , you can assign me this bug

[2022-09-24 16:15] detronetdip opened #8 "🐛 [BUG] - File not uploading"
### Description

Each and every time I am uploading a file it is showing me the below image. what that `x` sign mean and there were no error message as well.

### Reproduction URL

no

### Reproduction steps

[code]

### Screenshots

![Screenshot from 2022-09-24 21-41-30](https://user-images.githubusercontent.com/64276906/192108158-cda718dd-fba1-48e2-831e-fc34e474ea8b.png)

### Logs

_No response_

[2022-09-24 16:17] detronetdip commented on #2
I want to work on this issue.

[2022-09-24 16:26] detronetdip commented on #8
Just checked my console output in the browser and found this.

![Screenshot from 2022-09-24 21-52-02](https://user-images.githubusercontent.com/64276906/192108511-1a32bf22-910a-4ea2-ab64-a0fa3b105d12.png)

It is saying that `Magic Admin SDK Error: [ERROR_MALFORMED_TOKEN] The DID token is malformed or failed to parse.` seams like Decentralized ID tokens is malformed.

[2022-09-24 16:33] anomic30 commented on #8
Try clearing the cookies as well as local storage and try again

[2022-09-24 16:47] #8 closed

[2022-09-24 17:01] detronetdip opened #9 "Secure Token Storage"
Current code base is using local storage for storing the DID token, however it is not a good practice as it can be accessed by browser's JavaScript. Instead of that we can use httpOnly cookies to store them.

[2022-09-24 17:11] anomic30 commented on #9
You are right. Assigning this to you.

[2022-09-24 18:30] Onesco commented on #6
Hello! I would love to work on this task #7 Thanks

[2022-09-24 18:34] Onesco commented on #9
Hello @anomic30 i would love to work on this is the the task is still available. Thanks

[2022-09-24 18:37] detronetdip commented on #9
Hey @Onesco  actually I am already working on this.

[2022-09-24 20:28] #6 closed

[2022-09-24 21:21] shubhamku044 opened #12 "🐛 function that should be able to catch errors and show the appropriate message properly"
### Start Date

_No response_

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

🐛 function that should be able to catch errors and show the appropriate message properly

### Basic Example

.

### Drawbacks

.

### Unresolved questions

_No response_

[2022-09-24 21:23] #12 closed

[2022-09-24 21:27] Onesco opened #13 "Decoupling the controller from the data repository"
### Start Date

_No response_

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

The current structure of the API routes has the controller functions and its data accesing tightly coupled together. This development design will not allow further easy integration to any other database that is not mongodb/mongoose without changing the entire API route functions.

[2022-09-24 21:27] anomic30 opened #14 "Creating custom encryption & decryption function"
Currently, we are using a custom npm package for the encryption/decryption of the files. This package doesn't have proper asynchronous methods. So we would like to create our own custom functions which are asynchronous and error-free. These functions should be able to catch errors and show the appropriate message properly.

[2022-09-24 21:29] anomic30 commented on #13
Hi @Onesco, can you start working on this?

[2022-09-24 21:32] shubhamku044 opened #15 "Add a function"
A function that should be able to create to catch errors and show appropriate messages.

[2022-09-24 21:33] shubhamku044 commented on #15
@anomic30 you can assign this to me, and from tomorrow I will work on it.

[2022-09-24 21:34] shubhamku044 commented on #14
you can assign it to me

[2022-09-24 21:34] Onesco commented on #13
Alright... On it

[2022-09-24 21:35] #15 closed

[2022-09-25 02:26] Onesco commented on #14
@shubhamku044 if you need help will be willing to assist.

[2022-09-25 02:29] Onesco commented on #9
@detronetdip thanks for the feedback.

[2022-09-25 09:13] Gismo1337 commented on #1
Any chance of using tailwindCSS?

[2022-09-25 10:45] Aniket1026 opened #17 "Popup Modal for Logout"
* Want to add a popup modal which appears when the user clicks on the Logout button.

<h2>ISSUE</h2>

* Currently User logsout Immeadiately the button is clicked.
* If done by mistake . This leads the user to login again via confirmation through his gmail account.

<h2>Improvements</h2>

* When user clicks the logout button . A popup must appear asking the user if he wants to logout?
* This way pr

[2022-09-25 11:40] anomic30 commented on #17
Hi @Aniket1026, you can start working on this. Before proceeding, show us the UI. For more info regarding the UI join our Discord server and ping @Sneakad for the designs.

[2022-09-25 11:45] anomic30 commented on #1
Hi @Gismo1337, not now, but we may consider it in the future.

[2022-09-25 14:46] Sneakad commented on #3
Hello @RahatAhmed171 here is the specific UIs for sorting

[2022-09-25 14:48] Sneakad commented on #4
Hello @hxzqll  here is the UI for the filtering feature
![filterin](https://user-images.githubusercontent.com/72182438/192149863-8b21f03d-c205-4a87-b10d-5b731e27a12d.png)

[2022-09-25 18:12] Aniket1026 commented on #17
Sure @anomic30 😄

[2022-09-25 18:22] itsdurgeshray commented on #17
Hey @Aniket1026, here is the UI for the logout confirmation modal. I have also added the basic CSS for detailed implementation _but you will still need to work on the responsivity._

![Frame 11](https://user-images.githubusercontent.com/66410931/192157455-19235f16-b2e7-4e70-94d1-5a32921f2c99.png)

### Here is the CSS:

**Dialog Text**
`.dialog-text {
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  f

[2022-09-26 17:43] Aniket1026 commented on #17
@itsdurgeshray  Thanks for providing the design . I will take care of the details mentioned by you

[2022-09-27 14:32] nujovich opened #20 "🐛 [BUG] - Storz image from nav menu has a hover effect but it doesn't do anything"
### Description

If the user is hovering over Storz image in the nav menu and clicks it, it doesn't do anything. Remove the hover or add a scroll up event

### Reproduction URL

https://storz.pages.dev/

### Reproduction steps

[code]

### Screenshots

_No response_

### Logs

_No response_

### Browsers

Chrome

### OS

Windows

[2022-09-28 07:11] anomic30 commented on #20
Hi @nujovich, you can remove the hover effect.

[2022-09-28 13:26] nujovich opened #21 "🐛 [BUG] - Add margin for containers in Files section (width < 875px)"
### Description

Currently, the application has set a width equal to 100%, even for mobile devices, which leads to content too attached to the margin of the page.

![image](https://user-images.githubusercontent.com/48018975/192792318-614ddf6b-3de7-4ae9-9bd0-208e9f5cf926.png)

### Reproduction URL

https://storz.pages.dev/app/myFiles/desc

### Reproduction steps

[code]

### Screenshots

![image](h

[2022-09-28 13:33] nujovich opened #22 "🐛 [BUG] - Manage special characters in file names with Unicode"
### Description

Currently, the application doesn't manage special characters like 'ó', 'á', 'é', 'í', 'ú' in an effective way.

![SpecialChars](https://user-images.githubusercontent.com/48018975/192792038-f9e65fc6-5132-4649-bebf-510151ab45ac.PNG)

### Reproduction URL

https://storz.pages.dev/app/myFiles/desc

### Reproduction steps

[code]

### Screenshots

_No response_

### Logs

_No response_

[2022-09-29 07:37] Anuran12 commented on #5
hi @anomic30 can you assign it to me ?

[2022-09-29 14:03] julianfelipe98 commented on #21
Hello, I would like to help you with this

[2022-09-29 14:05] amreekminocha commented on #21
Hii is anyone working on this issue
If not you can assign it to me

[2022-09-29 14:06] julianfelipe98 commented on #22
Hi, I would like to work on this issue

[2022-09-29 15:52] nujovich commented on #21
@julianfelipe98 @amreekminocha I am assigned to this

[2022-09-29 15:53] nujovich commented on #22
@julianfelipe98 I've already assigned to this, sorry

[2022-09-29 15:54] julianfelipe98 commented on #22
:(

[2022-09-30 15:58] varun7singh commented on #17
can i work on this issue?

[2022-10-01 12:44] Phoenix-031 opened #27 "💡 Email-password authentication system"
### Start Date

02-10-2022

### Implementation PR

_No response_

### Reference Issues

Every time i logout for logging in again i have to click on the magic link there might a a need to have a simple user password system along with the magic link which might be useful for regular users to not have to go and click on the magic link everytime they need to login

### Summary

implementing a email pa

[2022-10-01 13:29] anomic30 commented on #27
Hi @Phoenix-031, we would want to implement a "remember me" feature on the Login page. If you want to work on this, let us know how you want to proceed.

[2022-10-01 13:33] #20 closed

[2022-10-01 13:46] lalitchandora commented on #3
Hi, is anyone working on this right now? I would like to work on this.

[2022-10-01 14:07] Aniket1026 opened #28 "Rename .env.example file"
In this issue I just want to include a small detail in the readme of the project
* Rename the env.example file
* Rename the file in both client and server folder

I raised this issue as i faced an error which got resolved after renaming the files. So either we can rename the files or inform the contributor in readme about renaming the file.

[2022-10-01 14:28] anomic30 commented on #28
@Aniket1026 assigned.

[2022-10-01 14:46] Aniket1026 commented on #28
What should i do out of the two . Rename the file or Update the readme for contributor to rename ?

[2022-10-01 15:00] AkashSharma001 commented on #21
I have solved this bug.
Can I pull request?
@nujovich

[2022-10-01 15:08] anomic30 commented on #28
Update the readme

[2022-10-01 17:09] ManavMalhotra commented on #14
we can use [crypto-js](https://www.npmjs.com/package/crypto-js ) for encryption and decryption.

[2022-10-01 19:47] Lofty-Brambles opened #30 "🐛 [BUG] - Bad responsiveness on file's tab."
### Description

The files tab has a very squished look on a phone. Some margins and separations might be added to keep it clean.
Here's what it currently looks like.
![image](https://user-images.githubusercontent.com/100270817/193425800-7fdea0e1-928d-4c91-8557-3aca82d1d5ee.png)

### Reproduction URL

https://storz.pages.dev/app/myFiles

### Reproduction steps

[code]

### Screenshots

[code]

###

[2022-10-01 19:47] Lofty-Brambles commented on #30
I'd like to work on this issue if possible.

[2022-10-01 20:20] anomic30 commented on #30
Hi @Lofty-Brambles, you can work on this issue.

[2022-10-01 20:29] its-puneet opened #31 "🐛 [BUG] - Navbar should be wrapped in Nav semantic HTML Tag"
### Description

Navbar is wrapped inside a div whereas it should be wrapped inside nav semantic HTML tag in Navbar.jsx

### Reproduction URL

https://github.com/its-puneet/Storz/blob/main/client/src/components/navbar/Navbar.jsx

### Reproduction steps

[code]

### Screenshots

[code]

### Logs

_No response_

### Browsers

_No response_

### OS

_No response_

[2022-10-01 20:56] spykelionel opened #33 "File details Doesn't include the time"
File detail doesn't include the time the file was created or uploaded. It only contains the date
![File Detail](https://user-images.githubusercontent.com/59184392/193427974-0574ff2b-ebc8-47e2-9b9c-b3a61b40f406.png)

[2022-10-01 20:59] Shubhcs01 commented on #27
hey @anomic30 , Can I work on this "remember me" feature on the login page?

[2022-10-01 21:08] anomic30 commented on #33
Hi @spykelionel, you can work on this to add the file upload time.

[2022-10-01 21:10] spykelionel commented on #33
Okay @anomic30.

[2022-10-02 01:58] Vishwak-Kiran opened #35 "Unwanted horizontal scroll"
There is a small overflow issue. You can scroll horizontally in both the web and mobile versions.

[2022-10-02 04:02] chaaals opened #36 "🐛 Sign-in/log-in bug"
### Description

Pressing enter on sign-in/log-in doesn't do anything. After looking briefly on the sign-in/login-in modal, I think the problem is that it's not using a form. I think this is bad for overall user experience.

### Reproduction URL

https://github.com/chaaals/Storz

### Reproduction steps

[code]

### Screenshots

_No response_

### Logs

_No response_

### Browsers

_No response_

#

[2022-10-02 04:03] chaaals commented on #36
If you think this is an issue that you need help with, I am happy to take over this issue @anomic30

[2022-10-02 04:23] zugzwang03 opened #37 "Create scroll back to top button"
### Start Date

_No response_

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

I want to create a scroll back to top button for this website, as it is of multiple pages.
I want to make this contribution under hacktoberfest'22.

### Basic Example

My feature will help in returning back to the landing page, once the button gets clicked.

### Drawbacks

My feat

[2022-10-02 05:16] rksingh2001 commented on #5
@Anuran12 I am working on this issue, currently.

[2022-10-02 05:51] rksingh2001 commented on #5
@Sneakad Do we want to show the country names as well? Because I feel that will look a little too clunky?

[2022-10-02 06:20] Sneakad commented on #5
@rksingh2001 You can remove the country names and implement it

[2022-10-02 06:22] anomic30 commented on #35
This has already been fixed.
https://github.com/anomic30/Storz/pull/34

[2022-10-02 06:22] #35 closed

[2022-10-02 06:23] anomic30 commented on #36
Hi @chaaals, you can work on this. Assigning it to you.

[2022-10-02 06:31] Bibhavshah commented on #37
Please assign me this task.

[2022-10-02 06:40] zugzwang03 commented on #37
But I created this issue to get self-assigned :)

[2022-10-02 07:11] Bibhavshah opened #38 "💡 Make a login button"
### Start Date

_No response_

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

Adding a login button instead of use now because it is more intuitive and the website becomes easy to use. Please assign me this issue. #hacktoberfest

### Basic Example

![Screenshot (1515)](https://user-images.githubusercontent.com/78656387/193442436-7a877658-7f4b-422c-864b-6b0f

[2022-10-02 07:13] anomic30 commented on #38
@Sneakad, What do you think?

[2022-10-02 07:14] anomic30 commented on #37
Hi @zugzwang03, can you please elaborate a little more?

[2022-10-02 07:33] zugzwang03 commented on #37
yeah sure, I want to add a scroll back to top button on the website, so that when you move down the website, and want to come back to the first page, you do not have to scroll up, just clicking on that button, the opening page will show up.
![scrollback](https://user-images.githubusercontent.com/95460021/193443191-a39d1a61-b671-40f7-89e8-2b2d5d58756e.png)
![scrolltop](https://user-images.githubuse

[2022-10-02 07:35] anomic30 commented on #37
@Sneakad, What do you think?

[2022-10-02 09:15] Lofty-Brambles commented on #30
![image](https://user-images.githubusercontent.com/100270817/193447011-03f051f9-c9e4-459e-8a1e-fba4c586e3a2.png)
Better now? @anomic30

[2022-10-02 10:29] #30 closed

[2022-10-02 13:26] Sneakad commented on #37
@zugzwang03 you can proceed with the issue and make sure to use the color #00ffa8 and make the button square with a slight border radius.

[2022-10-02 13:51] zugzwang03 commented on #37
cool. will do it :)
Also can you kindly assign me just for the sake of formality.

[2022-10-02 14:32] Gismo1337 commented on #28
Oh. I dindt saw this issue. i added a pr https://github.com/anomic30/Storz/pull/42

sorry about that

[2022-10-02 15:20] issa-me-sush commented on #1
hey! I have worked on building responsive react apps, and aware of usage of css for responsiveness, could I also please be assigned this issue?

[2022-10-02 15:32] #21 closed

[2022-10-02 15:54] #31 closed

[2022-10-02 16:52] developer-diganta opened #43 "💡 [REQUEST] - Add rate limiter to backend"
### Start Date

_No response_

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

A rate limiter can be added to the backend to avoid slowloris attacks.

### Basic Example

This would avoid unnecessary open requests to server

### Drawbacks

It would limit requests per second from same ip (value can be changed though)

### Unresolved questions

_No response_

[2022-10-02 16:52] developer-diganta commented on #43
If this seems legit can I work on it?

[2022-10-02 18:09] Manmohan11 opened #45 "[Docs] - Adding code of conduct"

[2022-10-02 18:37] #28 closed

[2022-10-02 18:49] anomic30 commented on #43
Hi, you can work on this.

[2022-10-02 20:49] Joelute opened #47 "🐛 [BUG] - Bad responsiveness on the file information"
### Description

The files information page has a bad responsive design and on smaller screens/devices, the website will start to break. I believe that the root cause of this is that at smaller screens, the buttons will run out of room and start invading the padding and margin of its parent div. Allowing the button to wrap at a smaller size, it can provide it with more room and space to work with

[2022-10-02 23:03] Joelute commented on #47
I noticed that the issue has been resolved in a previous pull request, but I believe that this design makes better uses of the white space given and distributes it evenly. If this design is good, I would like to work on it.

[2022-10-03 03:52] shashankbhatgs commented on #45
I would like to work on this issue. Also, can you add the hacktoberfest label?

[2022-10-03 04:07] PiXeL99-eng commented on #38
Please assign me this issue, I am ready to work on it.

[2022-10-03 05:14] anomic30 commented on #38
@Bibhavshah & @PiXeL99-eng, it is not needed as of now.

[2022-10-03 05:14] #38 closed

[2022-10-03 05:40] #43 closed

[2022-10-03 05:43] Anuran12 commented on #5
are you still working on this ?

[2022-10-03 07:29] Aniket1026 commented on #28
No worries @Gismo1337 😃 . It's fine

[2022-10-03 13:52] BiswajitSahoo-tech opened #50 "💡 [REQUEST] - Refactoring the server/ dir to MVC model"
### Start Date

09/04/2022

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

**Below are some of my proposed changes**

**Controller**
------------------
1.  Create a Controller folder, which contains controller files
2.  There is a controller file for each route
      e,g -
              route/user.js  <--  controller/userController.js
              route/up

[2022-10-03 14:33] BiswajitSahoo-tech commented on #50
@anomic30
Referring to PR [#18 ] data-repository/ contains a file named user.js
user.js file exports a User class
and all the method functions of this class are wrapper functions to mongoose functions
e,g -
       instead of calling ` UserModel.findOne(fields).sort(sort);`
       now we call `User.findOne(field, sort )`  with two object parameters, which calls the above code inside of it

This kin

[2022-10-03 14:41] anomic30 commented on #50
Yup, that's true. We should then remove this wrapper for the time being and follow the folder structure that you have mentioned. You can co-author that pull request if you want.

Thanks @BiswajitSahoo-tech

[2022-10-03 14:45] BiswajitSahoo-tech commented on #50
Ok then, we will keep the folder structure as my suggestion
But, how to co-author a PR @anomic30

[2022-10-03 14:59] dreymotoh opened #51 "adding a back to top button at the bottom of the webpage"
### Start Date

_No response_

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

having a back to top function button at the bottom of the webpage to allow users to get back to top quickly

### Basic Example

button that will return to top when clicked

### Drawbacks

where to place it

### Unresolved questions

_No response_

[2022-10-03 15:37] anomic30 commented on #51
Hi @dreymotoh, someone is already working on this [#37]

[2022-10-03 15:38] dreymotoh commented on #51
ok great :) !

[2022-10-03 15:38] #51 closed

[2022-10-03 15:39] dreymotoh commented on #51
by the way !! the webpage looks great

[2022-10-03 16:37] anomic30 commented on #51
Thank you @dreymotoh 😊

[2022-10-03 16:49] anomic30 commented on #47
Hi @Joelute, currently it looks like this:

![image](https://user-images.githubusercontent.com/63467479/193633098-47b49408-3e91-4efc-a7bc-8c425a87b8e2.png)

Currently we don't have any requirement to change the design.

[2022-10-03 16:49] #47 closed

[2022-10-03 16:56] lordashuchauhan commented on #33
Hey! is this issue under Hacktoberfest 2022?
If yes I would like to work on this issue.

[2022-10-03 18:20] BiswajitSahoo-tech opened #53 "💡 [REQUEST] - Add middleware to do data sanitization against NOSQL query injection and XSS and Implement a global error handling controller"
### Start Date

09/04/2022

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

- Want to add some middleware that will prevent cross-site scripting and NoSQL query injection.

- Also want to implement a global error handler, which means after catching errors all over the application we send the error to a global error handler which will decide what to do with i

[2022-10-03 19:46] bhtibrewal opened #54 "🐛 [BUG] - <title>"
### Description

Trying to Login and getting this error in console.

### Reproduction URL

https://github.com/anomic30/Storz/

### Reproduction steps

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/42600164/193664877-84999dd4-8470-4a2e-ac33-06aec68f9146.png)

### Logs

_No response_

### Browsers

Chrome

### OS

Windows

[2022-10-04 03:10] nujovich opened #56 "[ENHANCEMENT]- Enhance navigation on Files section when file name is too big"
### Description

Currently the Files section actives the horizontal scrolling when a file name is too big

![image](https://user-images.githubusercontent.com/48018975/193726016-74c69263-7c1f-4f13-8045-83a1b36d005f.png)

### Reproduction URL

https://storz.pages.dev/app/myFiles

### Reproduction steps

[code]

### Screenshots

[code]

### Logs

_No response_

### Browsers

Chrome

### OS

Windows

[2022-10-04 03:11] nujovich commented on #56
If applicable assign it to me

[2022-10-04 04:05] A1Kumari commented on #1
if this issue is not still assigned to anyone then can I work on this issue I have all the required prerequisites and have made some responsive web pages using react and CSS before also
so pls assign this issue to me and I am willing to contribute to it under hacktober fest

[2022-10-04 06:15] anomic30 commented on #56
Hi @nujovich, great job finding this bug!
Do you want to truncate the filename or wrap the remaining word in the next line?

[2022-10-04 06:33] rahmat-st opened #58 "[ENHANCEMENT] - Improve Delete Alert UI"
![image](https://user-images.githubusercontent.com/40190205/193749678-9e88da0c-908d-4050-91c2-1e6cca171cee.png)

Do you need to update this alert for more good UX? I will update the button component below the text and give contrast only for delete button.

Inspiration:
![image](https://user-images.githubusercontent.com/40190205/193750258-45aa68c9-49df-4531-800a-f8516c810714.png)

[2022-10-04 09:33] bhtibrewal commented on #54
The Error is on production because of CORS error

[2022-10-04 10:09] nujovich commented on #56
Great! Np

[2022-10-04 12:42] ezehlivinus opened #60 "Lint: enforce coding standards"
## Description
The project needs to be linted. It can use the Eslint linter and the AirBnB JavaScript standard guide.
To make sure that contributors use the same style and some best practices, lining the project is necessary.

### Example
ESlint can enforce one to use `const` keyword when the variable is not meant to be reassigned and `let`, if otherwise.

[2022-10-04 12:43] ezehlivinus commented on #60
@anomic30 is it possible to assign this to me?

[2022-10-04 13:07] ezehlivinus opened #61 "[Enhancement] - Console Logging"
Setup a basic console/terminal messages/logs to show when HTTP requests are made and when the app is running. This way it helps with debugging especially during development.

When a request is sent: The request methods, endpoint and status code would be logged to the console. The standard logger would be used instead of console.log().

[2022-10-04 13:09] ezehlivinus commented on #61
@anomic30 please can you look at this and assign it to me?

[2022-10-04 13:19] ezehlivinus commented on #53
@BiswajitSahoo-tech the error controller should be middleware I suggest.

cc/
@anomic30

[2022-10-04 13:44] BiswajitSahoo-tech commented on #53
@ezehlivinus
Sure, it is actually a middleware, But since we are following the MVC model and errorcontroller decides how error data get displayed, therefore I preferred to keep this file under controller/ dir

[2022-10-04 14:00] Onesco commented on #50
@BiswajitSahoo-tech nice observation, we can if we actually want to.

[2022-10-04 14:02] ezehlivinus commented on #53
The code was written in a controller/ folder...it should be in the middleware.

Controllers are meant to handle HTTP requests...

The error handler should be a middleware not a controller.

Also, in API or microservice, the V in MVC is omitted because there is no View especially as there is a dedicated frontend project for the API.

Error handler, and...then the controllers does not determine how

[2022-10-04 15:41] anomic30 commented on #61
Hi @ezehlivinus, assigning it to you.

[2022-10-04 16:33] #53 closed

[2022-10-04 19:28] nujovich commented on #56
@anomic30 I think truncating the filename is a better choice than wrapping it, this is causing issues here also:

![image](https://user-images.githubusercontent.com/48018975/193908311-cf73fc68-9d44-473e-89b2-f4c9b8d850d3.png)

What's the fixed max length you suggest need to set up for a filename?

[2022-10-04 21:09] ezehlivinus opened #66 "Fix Error Handlers and error handling"
The error handler and how errors are handled need to be fixed.

- The global error handler has an issue. To reproduce the error, once the server is running visit a route that does not exist, and the request will hang on until the server timeout. Example: visit: `http://localhost:8080/api/user` or `http://localhost:8080/this-does-not-exist`
- Asynchronous errors need to be handled: currently on the

[2022-10-04 21:10] ezehlivinus commented on #66
@anomic30 please check this out and assigned it to me.

[2022-10-04 21:18] ezehlivinus commented on #60
@anomic30 please check this again. You can check out  [eslint](https://eslint.org/) and[ AirBnB JavaScript Style Guide](https://github.com/airbnb/javascript).

Tell me what you think if we can close the issue or not.

[2022-10-04 21:35] ezehlivinus commented on #66
If I am to do this, then [the existing error handling code](https://github.com/anomic30/Storz/blob/main/server/controller/errorController.js) may have to move to middleware/ because that is what it is.

[2022-10-05 07:39] anomic30 commented on #60
@ezehlivinus, can we use prettier too?

[2022-10-05 07:47] ezehlivinus commented on #60
Yes we can @anomic30. We can set up both ESLint and prettier.

[2022-10-05 08:49] anomic30 commented on #60
Assigning it to you @ezehlivinus

[2022-10-05 09:46] #22 closed

[2022-10-05 14:13] #61 closed

[2022-10-05 14:15] anomic30 commented on #66
Assigned @ezehlivinus

[2022-10-06 07:37] Sneakad commented on #37
@zugzwang03 there is no scroll to the top button on the landing page. Can you show the UI you have created?

[2022-10-06 13:47] #60 closed

[2022-10-06 14:50] nishtha53 opened #73 "💡 [REQUEST] - About page for app"
### Start Date

_No response_

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

Can we add about page for this I need to discuss content for about page

### Basic Example

we can add about app what does app do team photos in about

### Drawbacks

Need for content help

### Unresolved questions

_No response_

[2022-10-06 16:02] ezehlivinus opened #75 "Lint: Add pre-commit hook"
The project needs a pre-hook commit that will run to lint and format the change to the project before it gets committed to git.

Given that linting and formatting have been configured for the project, setting up a `pre-commit hook` will help lint and format changes on committing.

[2022-10-06 16:27] ezehlivinus commented on #75
@anomic30  Please assign this to me and update the necessary labels.

There is a problem with this:
1. husky or [lint-style](https://github.com/okonet/lint-staged) require that .git/, package.json are all same directory
2. Because the `Storz/ `folder has the `.git/ `folder and no package.json file, this may be difficult to work

git commit is best executed where .git/ exists, while npm/yarn is als

[2022-10-06 16:41] ezehlivinus opened #76 "Base Route and Middleware"
Given that the routes have grown and will be growing in the future. It is necessary to have
1. a single file where all the routes are used.
2. a single middleware file where all the middleware  and the route middleware are used/registered

This way route and middleware are separated from the index file, thereby making it smaller, and cleaner.

Example:
[code]
Same for routes.

[2022-10-06 16:42] ezehlivinus commented on #76
@anomic30 Check this out and assign it to me.

[2022-10-06 17:56] anomic30 commented on #75
@ezehlivinus, So we need to separate our client and server into two different repos. Currently, we won't be able to do this can consider it later for sure. Meanwhile, I am closing this issue.

[2022-10-06 17:56] #75 closed

[2022-10-06 18:00] ezehlivinus commented on #75
Okay fine...

[2022-10-06 18:10] #37 closed

[2022-10-06 21:49] muskanbararia commented on #58
if this is open can i pick this up?

[2022-10-07 03:21] rahmat-st commented on #58
Hi @SahilAnower @muskanbararia, I want to work for it, but I'm waiting for @anomic30 to assign it to me

[2022-10-07 09:09] adetyaz commented on #73
Hello, is there a design available for the about page and can I build it?
🙂

[2022-10-07 12:39] ozair-dev commented on #54
Looks like this issue has already been fixed. I can see **cors** being used on the backend.

[2022-10-07 14:15] #73 closed, assigned to nobody

[2022-10-07 15:40] #56 closed

[2022-10-07 17:49] nishtha53 commented on #73
Okay sure @anomic30

[2022-10-07 19:21] adetyaz commented on #73
Okay no problem

[2022-10-08 02:52] SattyamSamania commented on #1
@anomic30 can i still work on this?

[2022-10-08 05:25] ozair-dev commented on #4
Assign it to me.

[2022-10-08 12:49] AnandSY opened #85 "Adding Contributors in Readme file"
I want to add valuable contributors to readme.
Please assign it to me under hacktoberfest.

[2022-10-08 16:18] bhtibrewal commented on #54
yes I checked cors is being used in the backend but origin is not set that's why I can still see the issue in production.
We need to set alloworigin.

[2022-10-08 17:18] #5 closed

[2022-10-09 06:31] anomic30 commented on #85
Hi @AnandSY, currently we don't need this :)

[2022-10-09 06:31] #85 closed

[2022-10-09 08:53] #36 closed

[2022-10-09 08:55] anomic30 commented on #54
@bhtibrewal, can you take up this issue?

[2022-10-09 13:30] ozair-dev commented on #3
@anomic30  I'm working on it alongside the **filtering feature** and will make a PR shortly. Hopefully

[2022-10-09 14:39] bhtibrewal commented on #54
yes @anomic30

[2022-10-09 18:00] Ayushbajpai19 commented on #58
Hello, can i work on this issue please?

[2022-10-09 18:06] anomic30 commented on #58
Hi @rahmat-st, you can start working on this.

[2022-10-09 18:07] anomic30 commented on #58
Hi @SahilAnower, @muskanbararia, @Ayushbajpai19, sorry for the late response. We are assigning it to whoever raised the issue first. Thanks.

[2022-10-09 18:19] SahilAnower commented on #58
Anyways Easy-peasy 😀👍

[2022-10-10 08:35] rahmat-st commented on #58
@anomic30 Okay

[2022-10-10 22:27] Tahree22 commented on #1
Hello @SattyamSamania can I have a go at this issue?

[2022-10-11 03:34] devrrior opened #94 "💡 [REQUEST] - Decoupling services"
### Start Date

_No response_

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

Create new files where we insert business logic from routes. I mean, pull that blocks of code where it's used mongoose's models out and put it in services files. If you agree with this request, I'd appreciate you can assign me this task.

### Basic Example

A common example is whe

[2022-10-11 11:54] HKAgrwl commented on #2
@Sneakad Can you please assign it to me if its still not resolved?

[2022-10-11 17:00] #2 closed

[2022-10-12 07:43] pritipsingh opened #101 "[feat] - Make NavBar sticky"
### Description

Having the navBar sticky, especially on the login and after the login page (upload part) will help users navigate easier and look cleaner.
![Screenshot 2022-10-12 130942](https://user-images.githubusercontent.com/85965351/195281109-619540a4-eacc-441d-ab4d-c38574f5c0e4.png)

### Reproduction steps

[code]

### Screenshots

_No response_

### Logs

_No response_

### Browsers

Chrom

[2022-10-12 16:08] JatinSingh08 commented on #101
Hey @pritipsingh, Can you please assign this issue to me? I would love to work on this.

[2022-10-12 16:50] pritipsingh commented on #101
@anomic30 can you check this one out

[2022-10-12 22:45] shubhamjain1922 commented on #101
Please assign this issue to me. I would like to work on this.

[2022-10-13 17:27] detronetdip opened #103 "Add containarization"
What if we add `Docker` to this project so that anyone can spin up the entire project without any hustle. Please let me know your thoughts on this.

[2022-10-13 19:19] Aditi-1709 commented on #101
Please assign this to me, I can complete it in hardly 30 mins.

[2022-10-13 19:29] anomic30 commented on #101
Hi @Aditi-1709, @shubhamjain1922, @pritipsingh, currently our design team is not considering this sticky navbar. Therefore we are closing this issue as of now. Thank you.

[2022-10-13 19:29] #101 closed

[2022-10-13 19:52] #54 closed

[2022-10-14 13:07] ThomasSed opened #104 "🐛 [BUG] - 2 files with same name"
### Description

when uploading files, if you are uploading a file (same one or an other one) with the same name, it'll be stored.
The user must be advertised and specify his intention

### Reproduction URL

https://github.com/ThomasSed/Storz

### Reproduction steps

[code]

### Screenshots

[code]

### Logs

_No response_

### Browsers

_No response_

### OS

_No response_

[2022-10-14 13:11] ThomasSed opened #105 "🐛 [BUG] - deleting a file actually deletes all files"
### Description

everything is in the title.
Must only delete the selected file

### Reproduction URL

https://github.com/ThomasSed/Storz

### Reproduction steps

[code]

### Screenshots

[code]

### Logs

_No response_

### Browsers

_No response_

### OS

_No response_

[2022-10-15 08:58] anomic30 commented on #104
Hi, @ThomasSed,
If a user uploads the same file even with different file names, it will generate the same CID. So we can check if that CID already exists in the user's document and we can show him some message like:

"This file already exists with the name ABC. Do you want to upload the same file again?"

Now, we have to find a way to generate the CID without uploading it to IPFS first.

[2022-10-15 09:02] anomic30 commented on #105
Hi @ThomasSed,
This is happening because both files(having the same file names) have the same CID.
Currently, we are querying files for deletion based on their CID. If we can prevent this #104, we might be able to solve this too.

[2022-10-15 09:03] anomic30 commented on #103
Hi @detronetdip,
Yes, we will eventually do this at a later time.

[2022-10-15 09:03] #103 closed

[2022-10-15 09:55] mani-rsg commented on #104
Would like to work on this. Can you assign this to me? @anomic30

[2022-10-15 09:56] anomic30 commented on #104
Hi @mani-rsg,
We are not assigning issues to anyone. Only the first PR related to the issue will be considered.

[2022-10-15 10:02] mani-rsg commented on #104
Oh ok sure Then will this count on Hactoberfest ?

[2022-10-15 10:32] ThomasSed commented on #105
a way to do this is by hashing the file using HMAC, and not simply sha-256.
storing the generated secret key on the db must do the trick here.
example (https://github.com/brix/crypto-js) :

import hmacSHA512 from 'crypto-js/hmac-sha512';
import Base64 from 'crypto-js/enc-base64';

const  privateKey = uuid();
const hmac = Base64.stringify(hmacSHA512(file, privateKey));

[2022-10-15 10:47] anomic30 commented on #104
@mani-rsg yes

[2022-10-15 11:38] mani-rsg commented on #104
Hi @anomic30,  instead of looking for how to generate the CID that is generated after the upload. My suggestion is

1. To filter for same name, if we found one, we can say like _"A file with the same name already exists, do you want to override it?"_ If yes we will upload & override, else we don't upload.

2. To perform the delete operation using the `unique _id` which is by default generated by M

[2022-10-15 16:02] mani-rsg commented on #104
@anomic30 Can you please confirm, if I can go with this approach?

[2022-10-15 16:10] anomic30 commented on #104
@mani-rsg, yes you can start working.

[2022-10-17 17:10] #104 closed

[2022-10-17 20:32] #3 closed

[2022-10-17 20:32] #4 closed

[2022-10-23 16:40] #105 closed

[2022-10-25 13:36] Sneakad opened #119 "Login page appearing bug"
### Description

Whenever the app reloads it goes to the login page and stays for 2-3 seconds before redirecting to the target page.

### Reproduction URL

https://storz.pages.dev/

### Reproduction steps

[code]

### Screenshots

_No response_

### Logs

_No response_

### Browsers

_No response_

### OS

_No response_

[2022-10-25 21:01] zaahmed-nisum-com commented on #119
@Sneakad  can i work on it?

[2022-10-26 03:57] Sneakad commented on #119
Yes go for it

[2022-10-26 18:49] zaahmed-nisum-com commented on #119
@Sneakad  can you please assign it to me?

[2022-10-26 18:59] Sneakad commented on #119
@zaahmed-nisum-com We are not assigning any issues as of now . The PRs are merged according to who resolves the issue first.

[2022-10-28 11:57] shubhamathawane opened #120 "There is no button to go back from signin page"
### Start Date

_No response_

### Implementation PR

🐛 There is no button to go back from signin page , assign this task to me

### Reference Issues

_No response_

### Summary

add go back option

### Basic Example

it would be better to have go back option

### Drawbacks

user will not be able to go back one's he/she go to that signin page, yes there is option to go back using system functions

[2022-10-29 06:42] mani-rsg commented on #119
HI @Sneakad ,
In my local and in the URL you provided when I reload it goes to the login page and never redirects until I sign in again. But you mentioned it like this redirects 2-3 seconds. Am I missing anything?